<div class="ti-page-header">
    <div class="navbar">
        <a href="/">
            <img id="logo" src="static/img/impactstory-logo-sideways.png" alt="">
        </a>
        <div class="spacer"></div>


        <div class="links" hide show-gt-xs>
            <a href="/" class="install">Home</a>
            <a href="/about">About</a>
            <a href="/press">Press</a>
            <a href="/team">Team</a>
        </div>

        <div class="mobile-menu" hide-gt-xs>

            <md-menu md-position-mode="target-right target" >
                <md-button class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                    <i class="fa fa-bars"></i>
                </md-button>
              <md-menu-content>
                  <md-menu-item>
                      <a href="/" ng-click="menuClick()">Home</a>
                  </md-menu-item>

                  <md-menu-item>
                      <a href="/about" ng-click="menuClick()">About</a>
                  </md-menu-item>

                  <md-menu-item>
                      <a href="/press" ng-click="menuClick()">Press</a>
                  </md-menu-item>

                  <md-menu-item>
                      <a href="/team" ng-click="menuClick()">Team</a>
                  </md-menu-item>


              </md-menu-content>
            </md-menu>
        </div>



    </div>
</div>
